root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
charset = utf-8

[*.cs] 

# IDE0065: Die using-Anweisung wurde falsch platziert. 
csharp_using_directive_placement = inside_namespace:silent
